.active {
    color: blue;
}

main{
    margin-top: 30px;
    
}

.card {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

.card img{
    border-radius: 100%;
    background-color: burlywood;
    margin: 0px 15px;
}

.psikolog {
    display: flex;
    padding: 10px;
    align-items: center;
}

.button{
    margin-right: 20px;
}

.psikolog img{
    border-radius: 50%;
    background-color: burlywood;
    margin: 0px 15px;
}

.bio{
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: 50px;
    background-color: black;
}

.avatar{
    width: 60px;
    height: 65px;
    image-rendering: auto;
}